@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
*:focus {
  outline: none;
}
#root {
  font-family: 'Raleway', sans-serif;
}
.btn-grad,
.btn-home {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: 0;
}

.btn-grad:hover,
btn-home:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-home {
  padding: 10px 30px;
}
.awssld__container {
  padding: 0 !important;
  height: 500px !important;
}
.allPageBannerImage {
  background-position: center !important;
  background-size: cover !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  background-blend-mode: multiply !important;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.logo,
.foot_logo {
  font-size: 60px;
  background: -webkit-linear-gradient(#ff512f, #dd2476, #ff512f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  padding: 0;
}
.foot_logo {
  font-size: 36px;
}
.subscribe {
  font-size: 30px;
  font-weight: 900;
}
.subscribe-btn {
  box-shadow: 0 0 20px transparent;
}
.nav-link {
  padding: 15px 20px;
}
.active {
  background: -webkit-linear-gradient(#ff512f, #dd2476, #ff512f);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: 900 !important;
}
.login-form:focus:hover {
  border-bottom: 1px solid #dd2476;
}
.awssld__timer--animated,
.awssld__timer {
  background-color: transparent !important;
}
.text-color {
  color: #dd2476;
}
.awssld__content {
  transition: 0.06s ease-in-out !important;
}
.text-hover {
  display: none;
  transition: 0.06s ease-in-out !important;
}
.awssld__content:hover .text-hover {
  display: block;
}
.section-gap {
  margin-bottom: 50px;
  padding-top: 50px;
}
.link-color {
  background: -webkit-linear-gradient(#ff512f, #dd2476, #ff512f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
}
